/* You can add global styles to this file, and also import other style files */

footer {
    position: fixed;
    bottom: 0;
    background-color: #212529;
    width: 100%;
    z-index: 1031;
    text-align: center !important;
}

footer p{
    color: aliceblue;
}

.ng-fullcalendar {
    margin-top: 2%;
    width: 75% !important;
    margin-left: 12.5%;
 }

 .sideMessage{
    position: fixed;
    opacity: 0.9;
    right: 0;
    z-index: 1500;
 }

 .title{
    margin-left: 12.5%;
 }


@import "bootstrap/dist/css/bootstrap.css";